# Node.js dependencies
node_modules/
.env
# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# MongoDB data files
data/

# Environment files
.env*
.env
.env.local*
.*env
config.js

# Build files
build/
public/

# Coverage files
coverage/