CLOUDINARY_CLOUD_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=
MAPBOX_TOKEN=
DB_URL="mongodb+srv://<username>:<password>@cluster0.uavskdy.mongodb.net/?retryWrites=true&w=majority&<database-name>=Cluster0"
SECRET=asperyourchoice
